################################################################
#
# Note that you have to edit this file to select whether you
# want to install the CPU or GPU version of TensorFlow.
#
################################################################
# Basic packages used in many of the tutorials.

numpy
scipy
jupyter
matplotlib
Pillow
scikit-learn
ase
pandas

################################################################
# TensorFlow can be installed either as CPU or GPU versions.
# You select which one to install by (un)commenting these lines.

tensorflow		# CPU Version of TensorFlow.
# tensorflow-gpu	# GPU version of TensorFlow.

################################################################
